@charset "UTF-8";

/* module
------------------------*/
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* common-indicator
------------------------*/
.common-indicator {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  width: 100%;
  height: 100%;
}
.common-indicator-background {
  background: #000;
  opacity: 0.5;
}
.common-indicator-img {
  width: 60px;
  height: 60px;
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.common-indicator-hide {
  display: none;
}

/*-------------------------------
Base
-------------------------------*/

a img {
  border: 0;
}

a img:hover {
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
  filter: saturate(200%);
}

body {
  font-family: "メイリオ", meiryo, Arial, Helvetica!important;
  color: #333;
  min-width: 1120px;
  margin: 0;
  padding: 0;
  background: #fff;
}

@media screen and (max-width: 640px) {
  body {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      color: #333;
      font-size: 14px;
      line-height: 1.6em;
      min-width: 100%;
      margin: 0;
      padding: 0;
      background: #fff;
  }

  img {
      max-width: 100%;
      overflow: hidden;
  }
}

a:link {
  color: #00aaff;
}

a:visited {
  color: #00aaff;
}

a:hover,
a:active {
  color: #33ccff;
  text-decoration: underline;
}

p {
  font-size: 16px;
  line-height: 1.8em;
  text-align: justify;
  margin: 0 0 2em 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  p {
      font-size: 14px;
      line-height: 1.6em;
      text-align: justify;
      margin: 0 0 1.6em 0;
      padding: 0;
  }
}

strong {
  font-weight: bold;
  font-size: 100%;
  line-height: 1.6em;
}

.red {
  color: #e5004b;
}

/* Contents
------------------------*/
#wrapper {
  width: 100%;
  min-height:600px;
  overflow-y: scroll;
}

header {
  width: 100%;
  height: 30px;
  padding: 5px 5px 0px 5px;
  text-align: right;
  background: #33ccff;
}
.service_admin header {
  background: #e0e4e6;
}

.contents_in {
  width: 100%;
  padding: 0;
  margin: 0 auto 0 auto;
}

/* VtecxFrom
------------------------*/
.vtecx-from {
  width: 100%;
  height: 100%;
}
.vtecx-from-container {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  margin: 0px auto;
  margin-top: 50px;
  padding-bottom: 20px;
}
.vtecx-from-content {
  width: 800px;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 80px;
}
.vtecx-from-content h2 {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-bottom: solid 1px #cdcdcd;
}
.vtecx-from-content h2 img{
  margin-bottom: 8px;
  margin-right: 265px;
}
.vtecx-from-content h2 span{
  float: right;
  padding-right: 10px;
}
.vtecx-from-content form {
  display: block;
  width: 100%;
  padding: 20px 0px 20px 20px;
  border-radius: 10px 10px 10px 10px;
}
.vtecx-from-content form input[type="email"]{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.vtecx-from-content form input[type="password"]{
  display: block;
  width: 100%;
  padding: 10px;
}
.vtecx-from-content .button-area {
  width: 100%;
  margin-top: 30px;
}
.vtecx-from-content button {
  padding: 12px 30px;
  border: 0px;
  background: #00AAFF;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
}
.vtecx-from-content button:hover {
  color: #fff;
  background: #00AAFF;
  opacity: 0.8;
}
.vtecx-from-content .button-left {
  float: left;
}
.vtecx-from-content .button-right {
  float: left;
  padding-top: 2px;
  padding-left: 10px;
}
.vtecx-from-content .button-right a{
  display: block;
  margin-bottom: 5px;
}
.clear {
  clear: both;
}
.vtecx-from-error {
  font-size: 11px;
  color: red;
}

/* Login
------------------------*/
.login {
  position: absolute;
  top: 30;
  left: 0;
  z-index: 1041;
  width: 100%;
  height: 100%;
}
.login-background {
  background: #fff;
  opacity: 0.5;
}
.login-container {
  position: absolute;
  z-index: 1041;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  margin: 0px auto;
  margin-top: 50px;
  padding-bottom: 20px;
}
.login-content {
  width: 800px;
  margin: 0px auto;
  padding-top: 60px;
}
.login-content h2 {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-bottom: solid 1px #cdcdcd;
}
.login-content h2 img{
  margin-bottom: 8px;
  margin-right: 265px;
}
.login-content form {
  display: block;
  margin-left: 50%;
  width: 50%;
  padding: 20px 0px 20px 20px;
  border-radius: 10px 10px 10px 10px;
}
.login-content form input[type="email"],
.login-content form input[type="password"]{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 3px;
}
.login-content .button-area {
  width: 100%;
  margin-top: 30px;
}
.login-content button {
  padding: 12px 30px;
  border: 0px;
  background: #00AAFF;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
}
.login-content button:hover {
  opacity: 0.8;
}
.login-content .button-left {
  float: left;
}
.login-content .button-right {
  float: left;
  padding-top: 2px;
  padding-left: 10px;
}
.login-content .button-right a{
  display: block;
  margin-bottom: 5px;
}
.clear {
  clear: both;
}
.login_error {
  font-size: 11px;
  color: red;
}

/* Footer
------------------------*/
#footer {
  position: relative;
  width: 100%;
  height: 104px;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto 0 auto;
  z-index: 1040;
}
.service_admin #footer {
  background: #e0e4e6;
}

#footer p.copyright {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.05em;
  margin: 0 0 0 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  #footer {
      clear: both;
      width: 100%;
      height: auto;
      text-align: center;
      padding: 20px 0 20px 0;
      margin: 10px auto 0 auto;
      background: #33ccff;
  }

  #footer p.copyright {
      font-family: Verdana, Geneva, sans-serif;
      text-align: center;
      font-size: 13px;
      letter-spacing: 0.05em;
      margin: 0 0 0 0;
      padding: 0;
  }
}
